/**** COLOURS ****//*
light blue: #3A69D2
dark blue: #1F2937
light grey placeholder: #888888
light grey: #D5D4D8
light grey $: #918E9B
black: #1F2937
white: #F5F5F5  */

html, body {
    margin: 0 auto;
    padding: 0;
    font-family: 'inter', sans-serif;
    width: 90%;
    min-width: 350px;
    max-width: 800px;
    color: #F5F5F5;
}

header {
    background-color: #3A69D2;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

h1 {
    padding-top: 1.5em;
    font-weight: 800;
    font-size: 40px;
    margin: 0;
}

h2 {
    font-weight: 400;
    font-size: 1rem;
    padding-bottom: 3.125em;
}

/* main section */

main {
    background-color: #1F2937;
    margin: 0 auto;
    padding-top: 2.1em;
}

.main-container {
    width: 85%;
    margin: 0 auto;
    padding-bottom: 3em;
}

.task-bar {
    display: flex;
    width: 100%;
}

.task-bar input {
    font-size: 1.25em;
    padding: 0.6em 1em;
    border: none;
    width: 50%;
    flex: 1.2
}

.task-bar select {
    font-size: 1.375em;
    padding-left: 0.6em;
    border: none;
    background-color: #F0F0F0;
    flex: 0
}

.task-bar button {
    background-color: #3A69D2;
    padding: 0.5em 0.8em;
    flex: 0;
    cursor: pointer;
    border: none;
}

.task-bar i {
    color: #F5F5F5;
    font-size: 2.187rem;
    text-align: center;  
}

.task-total,
.task-list,
.notes-total,
.payment {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-total h3 {
    margin-top: 2.3em;
    font-size: 0.75rem;
    font-weight: 600;
    color: #D5D4D8;
}

.task-list {
    margin-top: 0.875em;
}

.task-name, .remove-btn, .task-price {
    margin: 0;
}

.task-name {
    font-weight: 700;
    font-size: 20px;
    margin: 0;
}

.remove-btn {
    font-size: 0.5rem;
    color: #D5D4D8;
    margin-left: 15px;
    cursor: pointer;
}

.task-price {
    margin-left: auto;
    font-weight: 500;
    font-size: 1.5rem;
}

.dollar-sign {
    font-weight: 300;
    color: #918E9B;
}

/* bottom section */

.notes-total {
    margin-top: 40px;
    border-top: #D5D4D8 1px solid;
}

.notes-total h3 {
    margin-top: 1.7em;
    font-size: 0.75rem;
    font-weight: 600;
    color: #D5D4D8;
}

.payment {
    font-size: 0.75rem;
    font-weight: 400;
    color: #D5D4D8;
}

.total-amount {
    font-weight: 600;
    font-size: 2.25rem;
    margin: 0;
    color: #F5F5F5
}

.send-btn {
    padding: 1.07em;
    font-weight: 500;
    width: 100%;
    background-color: #3A69D2;
    color: #F5F5F5;
    margin-top: 3.125em;
    border-radius: 0.625em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.937em;
    cursor: pointer;
    border: none;
}
